div#web-content{
	width: 800px;
	height: auto;
	margin: auto;
	font-family: Myriad Pro,Verdana,Arial;
	font-size: 14px;
}

div#header{
	width: 800px;
	height : 200px;
	background-image: url("../images/header.png");
	box-shadow: 3px 3px 6px #333333;
	float: left;
}

div#nav{
	font-size:	24px;
	width: 800px;
	height: auto; 
	margin: 5px auto; 
	float: left;
}

div#nav ul{
	width: 800px;
	padding: 0px;
	margin: 0px;
	float: left;
	border-bottom: 1px solid #000000;
}

div#nav li{
	display: inline-block;
	float: left;
	width: 266px;
	text-align: center;
}

div#nav a{
	text-decoration: none;
	text-shadow: 3px 3px 3px #333333;
	color: #000000;
}

div#nav a:hover{
	text-shadow: 5px 5px 5px #333333;
}

div#content{
	width: 800px;
	height: auto;
	padding: 10px 0px;
	float: left;
}

div#pizzak, div.pizza{
	width: 800px;
	height: auto;
	float: left;
	margin-top: 15px;
}

div.pizza{
	border-bottom: 1px solid #000000;
}

.nev{
	width: 600px;
	height: auto;
	font-size: 20px;
	font-weight: bold;
	float: left;
}

.feltetek{
	width: 600px;
	height: auto;
	float: left;
}

.ar32, .ar50{
	width: 100px;
	float: left;
}

#fejlec-pizza, #fejlec-32cm, #fejlec-50cm{
	font-size: 20px;
	float: left;
	height: auto;
}

#fejlec-pizza{
	width: 600px;
	text-align: center;
}

#fejlec-32cm, #fejlec-50cm{
	width: 100px;
}

div#bemutatkozo-szoveg{
	width: 440px;
	padding: 10px;
	float: left;
	text-align: justify;
}

div#bemutatkozo-szoveg h1{
	font-size: 16px;
}

div#kepek{
	float: right;
	width: 340px;
	height: auto;
	margin-top: 10px;
}

table#elerhetosseg{
	margin-top: 20px;
	text-align: left;
}

div#footer{
	width: 780px;
	padding: 10px;
	font-size: 12px;
	height: auto;
	float: left;	
}
