div#header{
	width: 800px;
	height : 200px;
	margin: auto;
	background-image: url("../images/header.png");
	box-shadow: 3px 3px 6px #333333;
}

div#nav{
	font-family: Myriad Pro,Verdana,Arial;
	font-size:	24px;
	width: 800px;
	height: auto; 
	margin: auto; 
}

div#nav ul{
	padding: 0px;
	margin: 0px;
}

div#nav li{
	display: inline-block;
	float: left;
	width: 266px;
	text-align: center;
}

div#nav a{
	text-decoration: none;
	text-shadow: 3px 3px 3px #333333;
	color: #000000;
}

div#nav a:hover{
	text-decoration: underline;
}